<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]='loginForm'
    (ngSubmit)='onSubmit()'>
    <mat-form-field>
      <input matInput type="email" placeholder="Email Please" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">Email cannot be empty</mat-error>
      <mat-error *ngIf="!loginForm.get('email').hasError('required')">E-mail is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Minimum 6 characters required">
      <input matInput type="password" placeholder="Password Please" formControlName="password" required minlength="6">
      <mat-hint align="end">{{ loginForm.get('password').value?.length }} / 6</mat-hint>
    </mat-form-field>

    <button mat-raised-button color='primary' type='submit' [disabled]='loginForm.invalid'>Submit</button>
  </form>
</section>